asgiref==3.8.1
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.12.14
charset-normalizer==3.4.0
cowsay==6.1
distlib==0.3.9
dj-database-url==3.0.1
Django==5.1.4
django-allauth==65.8.0
django-cleanup==9.0.0
django-crispy-forms==2.3
django-extensions==4.1
django-render-partial==0.4
django-social-share==2.3.0
django-widget-tweaks==1.5.0
filelock==3.17.0
idna==3.10
include==0.2.2
instaloader==4.14
loader==2017.9.11
path==17.1.0
pillow==11.1.0
platformdirs==4.3.6
pytz==2024.2
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.1
tk==0.1.0
tzdata==2024.1
urllib3==2.2.3
virtualenv==20.29.2
